@import url('https://rsms.me/inter/inter.css');
html, body { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html, body { font-family: 'Inter var', sans-serif; }
}

// app global css in SCSS form
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
  margin-top: 0;
}
h1 { font-size: 3em; font-weight: 500; }
h2 { font-size: 2.5em; font-weight: 500; }
h3 { font-size: 2em; font-weight: 500; }
h4 { font-size: 1.5em; font-weight: 500; }
h5 { font-size: 1.25em; font-weight: 500; }
h6 { font-size: 1em; font-weight: 500; }

@media (max-width: 1023px) {
  h1 { font-size: 2.1em; }
  h2 { font-size: 1.75em; }
  h3 { font-size: 1.4em; }
  h4 { font-size: 1.05em; }
  h5 { font-size: 1em; }
  h6 { font-size: 0.8em; }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
}

/**
 *  Tabs
 */
.ndgt-outer-tabs {
  .q-tab {
    padding: 0 15px;
    margin-right: 3em;

    @media (max-width: 1023px) {
      margin-right: 1em;
    }
    @media (max-width: 767px) {
      margin-right: 0.8em;
    }
    @media (max-width: 500px) {
      margin-right: 0em;
    }
  }
  .q-tab__content, .q-tab__label {
    width: 100%;
    text-align: left;
  }
  .q-tab--active {
    .q-tab__label {
      font-weight: 700;
    }
  }
  .q-tab__label {
    line-height: 4em;
  }
}

.transparent {
  .q-splitter__separator {
    background-color: transparent;
  }
}

.ndgt-inner-tabs {
  .q-splitter__panel{
    @media (max-width: 1023px) {
      width: 20% !important;
    }
  }
  .q-splitter__after col {
    .q-tab-panel {
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
  .q-tab__content, .q-tab__label {
    width: 100%;
    text-align: left;
    line-height: 4em;
  }
  .q-tab__content {
    border-bottom: 1px solid $grey-4;
    margin-right: 10%;
  }
}